Project/Quandos.pdf
*.ipynb_checkpoints/
*.bbl
*.blg
*.aux
*.bak
*.log
*.synctex.gz
*.snm
*.toc
*.nav
*.out
04-te/phase_space-eps-converted-to.pdf
05-de/TE-DE-high-level.pdf
MC/MC-intro-tmp.pdf
MC/MC-intro-tmp.tex
Project/Quados.pdf
survey.pdf
te-de-full.pdf
